.Anchor {
  $active_color: var(--color-indigo);
  color: var(--color-dark-gray);
  transition: 0.1s ease-in;

  &:hover,
  &:focus-visible,
  &:hover svg,
  &:focus-visible svg {
    color: var(--color-indigo);
  }

  &:active,
  &:active svg {
    color: darken($color: #6610f2, $amount: 10%);
  }

  & svg {
    color: var(--color-dark-gray);
    transition: 0.1s ease-in;
  }
}
