@import './../../../assets/scss/variables';

.Anchor {
  $active_color: $color-indigo;
  color: $color-gray-800;
  transition: 0.1s ease-in;

  &:hover,
  &:focus-visible,
  &:hover svg,
  &:focus-visible svg {
    color: $color-indigo;
  }

  &:active,
  &:active svg {
    color: darken($color: #6610f2, $amount: 10%);
  }

  & svg {
    color: $color-gray-800;
    transition: 0.1s ease-in;
  }

  &.colored {
    color: $color-indigo;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
    }

    &:active {
      color: darken($color: #6610f2, $amount: 10%);
    }
  }
}
