@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('./assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark-gray: #333333;
  --color-black: #161616;
  --color-white: #fefefe;
  --color-indigo: #6610f2;
}

body {
  font-family: Montserrat, Arial, serif;
  font-size: 10px;
  background-color: var(--color-black);
  color: var(--color-white);
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1060px;
}
